/* Small size */
@media only screen and (max-width:600px){


    #header{
      background-color: #4a17c2;
    }
    .btn{
      width: 150px;
    }
    p{
      font-size: 13px;
    }
    .heading{
      font-size: 25px;
    }
    .underline{
      width: 12%;
    }
    .header-content{
      padding: 50px 0px;
    }
    .header-content h1{
      font-size: 33px;
    }
    /* Global css  */
    img{
      max-width: 100%;
    }
    .container{
      width: 90%;
    }
    /* layout  */
    [class*="col-s-"] {
    float: left;
  }
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  
  .logo-part{
      text-align: center;
  }
  .menu-part ul{
      text-align: center;
  }
}